<!-- NOTE: If you're working offline, you might have to change the DOCTYPE 
	to the following: <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate 
	Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<mapping class="org.appfuse.model.User" />
		<mapping class="org.appfuse.model.Role" />
		<mapping class="com.nationsky.model.Users" />
		<mapping class="com.nationsky.model.FullTrialCode" />
		<mapping class="com.nationsky.model.AppStore" />
		<mapping class="com.nationsky.model.Version" />
		<mapping class="com.nationsky.model.AppstoreEdition" />
		<mapping class="com.nationsky.model.AppComment" />
		<mapping class="com.nationsky.model.Schedule" />
		<mapping class="com.nationsky.model.ScheduleList" />
		<mapping class="com.nationsky.model.ScheduleListUser" />
		<mapping class="com.nationsky.model.ScheduleUser" />
		<mapping class="com.nationsky.model.P12" />
		<mapping class="com.nationsky.model.Service" />
		<mapping class="com.nationsky.model.AppServiceRelation" />
		<mapping class="com.nationsky.model.DeviceToken" />
		<mapping class="com.nationsky.model.Message" />
        <mapping class="com.nationsky.model.AppType"/>
        <mapping class="com.nationsky.model.CodeAppStatus"/>
        <mapping class="com.nationsky.model.CodeChannel"/>
        <mapping class="com.nationsky.model.CodeDeveloper"/>
        <mapping class="com.nationsky.model.CodeOs"/>
        <mapping class="com.nationsky.model.CodeOsVersion"/>
        <mapping class="com.nationsky.model.CodeModel"/>
        <mapping class="com.nationsky.model.CodeServerUrl"/>
        <mapping class="com.nationsky.model.CodeOsStyle"/>
        <mapping class="com.nationsky.model.AppProject"/>
        
        <mapping class="com.nationsky.model.ChatRecord"/>
        <mapping class="com.nationsky.model.CoolIdea"/>
        <mapping class="com.nationsky.model.IdeaComment"/>
        <mapping class="com.nationsky.model.Praise"/>
        <mapping class="com.nationsky.model.ScoreUseLog"/>
        <mapping class="com.nationsky.model.VendorDevice"/>
        <mapping class="com.nationsky.model.Conversation"/>
        <mapping class="com.nationsky.model.FrontGroupRelation"/>
        <mapping class="com.nationsky.model.FrontUser"/>
        <mapping class="com.nationsky.model.FrontUserGroup"/>
    </session-factory>
</hibernate-configuration>